.form{
    padding: 20px;
}
.form-group{
    padding-bottom: 2px;
}
.form-group label{
    display: block;
}
.form-group input[type = "text"], .form-group textarea{
    padding: 5px;
    width: 100%;
    background-color: lightblue;
}
.button{
    background-color: chartreuse;
    color: brown;
    padding: 5px 10px;
    border: none;
}